<style>
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	table {
		border-collapse: collapse;
	}	
	td {
		height: 60px;
		font-family: monospace;
		font-size: 12pt;
		font-weight: bold;
		color: #fff;
		background-color: #23241F;
		max-width: 25vw;
		padding: 15px;
		border-right: 1px solid black;
		vertical-align: top;
	}

	pre, pre * {
		white-space: pre-wrap;
		word-wrap: break-word;
	}
</style>
<table>
	<tr>
		<td>
			<pre><code>
[00:19:43] [Client 1] STARTING...
[00:19:43] [Client 1] Timeout set to 2 seconds!
[00:19:43] [Client 1] I'll try 10 times to get a answer from the server!
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:43] [Server 1] STARTING...
[00:19:43] [Server 1] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:19:43] [Server 1] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:19:43] [Server 1] LISTENER THREAD IS ALIVE!
[00:19:43] [Server 1] HEART BEAT THREAD IS ALIVE!
[00:19:43] [Server 1] Found SERVER 2. Setting state to 'alive'.
[00:19:43] [Server 1] Found SERVER 3. Setting state to 'alive'.
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:43] [Server 2] STARTING...
[00:19:43] [Server 2] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:19:43] [Server 2] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:19:43] [Server 2] LISTENER THREAD IS ALIVE!
[00:19:43] [Server 2] HEART BEAT THREAD IS ALIVE!
[00:19:43] [Server 2] Found SERVER 1. Setting state to 'alive'.
[00:19:43] [Server 2] Found SERVER 3. Setting state to 'alive'.
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:43] [Server 3] STARTING...
[00:19:43] [Server 3] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:19:43] [Server 3] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:19:43] [Server 3] LISTENER THREAD IS ALIVE!
[00:19:43] [Server 3] Found SERVER 2. Setting state to 'alive'.
[00:19:43] [Server 3] HEART BEAT THREAD IS ALIVE!
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:19:45] [Client 1] Asking the result of '1+7'
[00:19:45] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:45] [Server 1] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:45] [Server 3] Found SERVER 1. Setting state to 'alive'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:19:47] [Client 1] Asking the result of '1*7'
[00:19:47] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:47] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:19:50] [Client 1] Asking the result of '1-7'
[00:19:50] [Client 1] Got answer -6 (expected -6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:50] [Server 1] Got expression 1-7 from Client 1. Sending answer '-6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:19:53] [Client 1] Asking the result of '1-7'
[00:19:53] [Client 1] Got answer -6 (expected -6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:53] [Server 1] Got expression 1-7 from Client 1. Sending answer '-6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:19:58] [Client 1] Asking the result of '3-5'
[00:19:58] [Client 1] Got answer -2 (expected -2) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:58] [Server 1] Got expression 3-5 from Client 1. Sending answer '-2'.
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:19:58] [BASH] Killing server 2...
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:01] [Client 1] Asking the result of '1*7'
[00:20:01] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:01] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:06] [Client 1] Asking the result of '3/5'
[00:20:06] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:06] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:11] [Client 1] Asking the result of '1**7'
[00:20:11] [Client 1] Got answer 1 (expected 1) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:11] [Server 1] Got expression 1**7 from Client 1. Sending answer '1'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:13] [Client 1] Asking the result of '3*5'
[00:20:13] [Client 1] Got answer 15 (expected 15) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:13] [Server 1] Got expression 3*5 from Client 1. Sending answer '15'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:16] [Client 1] Asking the result of '3*5'
[00:20:16] [Client 1] Got answer 15 (expected 15) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:16] [Server 1] Got expression 3*5 from Client 1. Sending answer '15'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:17] [Client 1] Asking the result of '1/7'
[00:20:17] [Client 1] Got answer 0.14285714285714285 (expected 0.14285714285714285) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:17] [Server 1] Got expression 1/7 from Client 1. Sending answer '0.14285714285714285'.
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:17] [BASH] Resurrecting server 2...
[00:20:17] [Server 2] STARTING...
[00:20:17] [Server 2] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:20:17] [Server 2] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:20:17] [Server 2] LISTENER THREAD IS ALIVE!
[00:20:17] [Server 2] HEART BEAT THREAD IS ALIVE!
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:19] [Server 2] Found SERVER 1. Setting state to 'alive'.
[00:20:19] [Server 2] Found SERVER 3. Setting state to 'alive'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:20] [Client 1] Asking the result of '1-7'
[00:20:20] [Client 1] Got answer -6 (expected -6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:20] [Server 1] Got expression 1-7 from Client 1. Sending answer '-6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:24] [Client 1] Asking the result of '1/7'
[00:20:24] [Client 1] Got answer 0.14285714285714285 (expected 0.14285714285714285) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:24] [Server 1] Got expression 1/7 from Client 1. Sending answer '0.14285714285714285'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:25] [Client 1] Asking the result of '1*7'
[00:20:25] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:25] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:28] [Client 1] Asking the result of '3/5'
[00:20:28] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:28] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:32] [Client 1] Asking the result of '3+5'
[00:20:32] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:32] [Server 1] Got expression 3+5 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:35] [Client 1] Asking the result of '3**5'
[00:20:35] [Client 1] Got answer 243 (expected 243) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:35] [Server 1] Got expression 3**5 from Client 1. Sending answer '243'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:35] [BASH] Killing server 3...
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:40] [Client 1] Asking the result of '1*7'
[00:20:40] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:40] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:44] [Client 1] Asking the result of '3-5'
[00:20:44] [Client 1] Got answer -2 (expected -2) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:44] [Server 1] Got expression 3-5 from Client 1. Sending answer '-2'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:49] [Client 1] Asking the result of '3-5'
[00:20:49] [Client 1] Got answer -2 (expected -2) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:49] [Server 1] Got expression 3-5 from Client 1. Sending answer '-2'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:50] [Client 1] Asking the result of '3+5'
[00:20:50] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:50] [Server 1] Got expression 3+5 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:53] [BASH] Killing server 2...
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:54] [Client 1] Asking the result of '1+7'
[00:20:54] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:54] [Server 1] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:58] [Client 1] Asking the result of '3*5'
[00:20:58] [Client 1] Got answer 15 (expected 15) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:58] [Server 1] Got expression 3*5 from Client 1. Sending answer '15'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:20:59] [Client 1] Asking the result of '1/7'
[00:20:59] [Client 1] Got answer 0.14285714285714285 (expected 0.14285714285714285) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:20:59] [Server 1] Got expression 1/7 from Client 1. Sending answer '0.14285714285714285'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:01] [Client 1] Asking the result of '1/7'
[00:21:01] [Client 1] Got answer 0.14285714285714285 (expected 0.14285714285714285) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:01] [Server 1] Got expression 1/7 from Client 1. Sending answer '0.14285714285714285'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:03] [Client 1] Asking the result of '1/7'
[00:21:03] [Client 1] Got answer 0.14285714285714285 (expected 0.14285714285714285) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:03] [Server 1] Got expression 1/7 from Client 1. Sending answer '0.14285714285714285'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:04] [Client 1] Asking the result of '3/5'
[00:21:04] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:04] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:05] [Client 1] Asking the result of '1+7'
[00:21:05] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:05] [Server 1] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:06] [Client 1] Asking the result of '3*5'
[00:21:06] [Client 1] Got answer 15 (expected 15) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:06] [Server 1] Got expression 3*5 from Client 1. Sending answer '15'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:09] [Client 1] Asking the result of '1*7'
[00:21:09] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:09] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:10] [Client 1] Asking the result of '1**7'
[00:21:10] [Client 1] Got answer 1 (expected 1) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:10] [Server 1] Got expression 1**7 from Client 1. Sending answer '1'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:11] [BASH] Resurrecting server 3...
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:12] [Server 3] STARTING...
[00:21:12] [Server 3] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:21:12] [Server 3] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:21:12] [Server 3] LISTENER THREAD IS ALIVE!
[00:21:12] [Server 3] HEART BEAT THREAD IS ALIVE!
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:13] [Server 3] Found SERVER 1. Setting state to 'alive'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:15] [Client 1] Asking the result of '3/5'
[00:21:15] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:15] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:20] [Client 1] Asking the result of '3/5'
[00:21:20] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:20] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:21] [Client 1] Asking the result of '1*7'
[00:21:21] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:21] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:23] [Client 1] Asking the result of '1*7'
[00:21:23] [Client 1] Got answer 7 (expected 7) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:23] [Server 1] Got expression 1*7 from Client 1. Sending answer '7'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:28] [Client 1] Asking the result of '3/5'
[00:21:28] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:28] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:30] [BASH] Killing server 1...
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:32] [Client 1] Asking the result of '3-5'
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:34] [Client 1] Timeout (1), I didn't receive any answer!
[00:21:34] [Client 1] Asking the result of '3-5'
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:34] [Server 3] Setting SERVER 2 as the new leader.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:36] [Client 1] Timeout (2), I didn't receive any answer!
[00:21:36] [Client 1] Asking the result of '3-5'
[00:21:36] [Client 1] Got answer -2 (expected -2) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:36] [Server 3] Setting MYSELF as the new leader.
[00:21:36] [Server 3] Got expression 3-5 from Client 1. Sending answer '-2'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:40] [Client 1] Asking the result of '1**7'
[00:21:40] [Client 1] Got answer 1 (expected 1) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:40] [Server 3] Got expression 1**7 from Client 1. Sending answer '1'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:42] [Client 1] Asking the result of '3*5'
[00:21:42] [Client 1] Got answer 15 (expected 15) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:42] [Server 3] Got expression 3*5 from Client 1. Sending answer '15'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:47] [Client 1] Asking the result of '1+7'
[00:21:47] [Client 1] Got answer 8 (expected 8) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:47] [Server 3] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:48] [BASH] Resurrecting server 1...
[00:21:48] [Server 1] STARTING...
[00:21:48] [Server 1] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:21:48] [Server 1] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:21:48] [Server 1] LISTENER THREAD IS ALIVE!
[00:21:48] [Server 1] HEART BEAT THREAD IS ALIVE!
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:48] [Server 3] Found SERVER 1. Setting state to 'alive'.
[00:21:48] [Server 3] Setting SERVER 1 as the new leader.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:50] [Server 1] Found SERVER 3. Setting state to 'alive'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:51] [Client 1] Asking the result of '3/5'
[00:21:51] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:51] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:55] [Client 1] Asking the result of '3*5'
[00:21:55] [Client 1] Got answer 15 (expected 15) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:55] [Server 1] Got expression 3*5 from Client 1. Sending answer '15'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:21:56] [Client 1] Asking the result of '3**5'
[00:21:56] [Client 1] Got answer 243 (expected 243) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:21:56] [Server 1] Got expression 3**5 from Client 1. Sending answer '243'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:01] [Client 1] Asking the result of '1**7'
[00:22:01] [Client 1] Got answer 1 (expected 1) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:01] [Server 1] Got expression 1**7 from Client 1. Sending answer '1'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:04] [Client 1] Asking the result of '3**5'
[00:22:04] [Client 1] Got answer 243 (expected 243) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:04] [Server 1] Got expression 3**5 from Client 1. Sending answer '243'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:05] [Client 1] Asking the result of '3/5'
[00:22:05] [Client 1] Got answer 0.6 (expected 0.6) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:05] [Server 1] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:06] [BASH] Killing server 1...
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:09] [Client 1] Asking the result of '3+5'
[00:22:09] [Client 1] Got answer 8 (expected 8) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:09] [Server 3] Setting MYSELF as the new leader.
[00:22:09] [Server 3] Got expression 3+5 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:13] [Client 1] Asking the result of '3**5'
[00:22:13] [Client 1] Got answer 243 (expected 243) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:13] [Server 3] Got expression 3**5 from Client 1. Sending answer '243'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:14] [Client 1] Asking the result of '1-7'
[00:22:14] [Client 1] Got answer -6 (expected -6) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:14] [Server 3] Got expression 1-7 from Client 1. Sending answer '-6'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:19] [Client 1] Asking the result of '1-7'
[00:22:19] [Client 1] Got answer -6 (expected -6) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:19] [Server 3] Got expression 1-7 from Client 1. Sending answer '-6'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:21] [Client 1] Asking the result of '3/5'
[00:22:21] [Client 1] Got answer 0.6 (expected 0.6) from server 3 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:21] [Server 3] Got expression 3/5 from Client 1. Sending answer '0.6'.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:24] [BASH] Resurrecting server 1...
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:25] [Client 1] Asking the result of '1+7'
[00:22:25] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:25] [Server 1] STARTING...
[00:22:25] [Server 1] PARAMETERS: ONE HEART BEAT EVERY 2 SECONDS[00:22:25] [Server 1] CONSIDERING OTHER SERVERS AS DEAD IF THEY DON'T ANSWER IN 4 SECONDS!
[00:22:25] [Server 1] LISTENER THREAD IS ALIVE!
[00:22:25] [Server 1] HEART BEAT THREAD IS ALIVE!
[00:22:25] [Server 1] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:25] [Server 3] Found SERVER 1. Setting state to 'alive'.
[00:22:25] [Server 3] Setting SERVER 1 as the new leader.
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:26] [Server 1] Found SERVER 3. Setting state to 'alive'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:28] [Client 1] Asking the result of '3**5'
[00:22:28] [Client 1] Got answer 243 (expected 243) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:28] [Server 1] Got expression 3**5 from Client 1. Sending answer '243'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:29] [Client 1] Asking the result of '1**7'
[00:22:29] [Client 1] Got answer 1 (expected 1) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:29] [Server 1] Got expression 1**7 from Client 1. Sending answer '1'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:32] [Client 1] Asking the result of '3**5'
[00:22:32] [Client 1] Got answer 243 (expected 243) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:32] [Server 1] Got expression 3**5 from Client 1. Sending answer '243'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:37] [Client 1] Asking the result of '1+7'
[00:22:37] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:37] [Server 1] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:41] [Client 1] Asking the result of '1**7'
[00:22:41] [Client 1] Got answer 1 (expected 1) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:41] [Server 1] Got expression 1**7 from Client 1. Sending answer '1'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:42] [Client 1] Asking the result of '1+7'
[00:22:42] [Client 1] Got answer 8 (expected 8) from server 1 (('192.168.0.20', 12224))
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:42] [Server 1] Got expression 1+7 from Client 1. Sending answer '8'.
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
	</tr>
	<tr>
		<td>
			<pre><code>
[00:22:43] [BASH] Killing client 1...
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:43] [BASH] Killing server 1...
			</code></pre>
		</td>
		<td>
			<pre><code>
			</code></pre>
		</td>
		<td>
			<pre><code>
[00:22:43] [BASH] Killing server 3...
			</code></pre>
		</td>
	</tr>
</table>
