@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

body {
	margin: 0;
	padding: 0;
	background-color: #eee;
  counter-reset: figure;
  text-align: justify;
}

input:focus {
  outline: none;
}

a, a:focus, a:visited, a:active, a:hover {
  text-decoration: none;
}

.navbar {
	display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 100vw; 
  height: 72px;
	background-color: #281657;
}

.navbar__title {
	font-size: calc(10pt + 0.3vw + 0.3vh);
	text-transform: uppercase;
	color: #ddd;
  padding: 0 20px;
}

.navbar__title:hover {
	cursor: default;
}

.container:first-child {
  margin-top: 30px;
}

.container {
	display: block;
	width: 75%;
	margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  padding: 15px 30px;
  min-height: 240px;
  font-size: 13pt;
}

.container .container__title:nth-child(n+2) {
  margin-top: 35px;
}

.container__title {
  font-weight: 400;
  font-size: 17pt;
}

.container__subtitle {
  font-weight: 300;
  font-size: 13pt;
  color: #555;
}

.container p {
  text-indent: 1.25cm;
  text-align: justify;
  margin: 0;
  line-height: 1.3;
  font-weight: 300;
  color: black;
}

.container > ul {
  list-style: none;
}

.container > ul > li {
  line-height: 2;
  margin-left: 20px;
  width: 90%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.container > ul > li::before {
  content: "\2933  ";
}

.container pre {
  width: 85%;
  margin: auto;
  overflow: visible;
}

.container pre > code {
  font-size: 11pt;
  transition: .7s ease;
}

.container pre > code:hover,
.figure-container img:hover {
  transform: scale(1.3,1.3);
  cursor: zoom-in;
  transition: .7s ease;
}

.treeview-container {
  margin-left: 1cm;
}

.figure-container {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.figure-container img {
  display: block;
  margin: auto;
  width: 75%;
  transition: .7s ease;
}

.figure-container label {
  font-weight: 300;
  font-size: 12pt;
  width: 90%;
  display: inline-block;
}

.figure-container label::before {
  counter-increment: figure;
  content: "Figura " counter(figure) ". ";
  font-weight: bold;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-ai-c {
  -ms-align-items: center;
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

[data-role=treeview] {
  font-size: 14pt;
}


/* ----------------------------------------------------- */
/* LOADER FROM https://projects.lukehaas.me/css-loaders/ */
/* ----------------------------------------------------- */

.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
